<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="!(bind.FileVersion.ExeFile)"
           Language="1033"
           Version="!(bind.FileVersion.ExeFile)"
           Manufacturer="gpui-clipboard-manager"
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="!(bind.FileVersion.ExeFile)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="!(bind.FileVersion.ExeFile)">
          <Component Id="ProductComponent" Guid="*">
            <File Id="ExeFile" Source="$(var.CargoTargetBinDir)\$(var.CargoTargetFileName)" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>